{% extends "AppCoder/padre.html" %}     <!--Por sintaxis de Dajngo se debe generar este .html si o si con _form.html en el nombre, basicamente valida la edición-->
{% load static %}

{% block contenidoDeTitulo %}
<h2>Login</h2>
{% endblock%}

{% block contenidoQueCambia %}

<h3>Listado de Estudiantes</h3>

<form method="POST">{% csrf_token %}
    <h1>Ingrese usuario y contraseña</h1>
    {{ form.as_p }}                               <!-- Permite mostrar los campos del elemento -->
    <button type="submit" value="Enviar">Inicio Sesion</button>

</form>
 
{% endblock %}