{% extends "AppCoder/padre.html" %}
{% load static %}

{% block contenidoDeTitulo %}
<h2>Página de Profesores</h2>
{% endblock%}

{% block contenidoQueCambia %}

<h3>Listado de Profesores</h3>

{% for profesor in profesores %}

    <li>
        <h5>-{{profesor}}</h5>  <!-- Listo los elementos de mi class Profesor que pasé por contexto desde el views.py -->
    </li>

    <button>
        <a href="{% url 'eliminarProfesor' profesor.nombre %}">Eliminar</a>     <!-- Acá es donde genero el botón con el comando eliminar -->
    
        <a href="{% url 'editarProfesor' profesor.nombre %}">Editar</a>     <!-- Acá es donde genero el botón con el comando eliminar -->
    </button> 

{% endfor %}

{% endblock %}
